.App {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

input {
  padding: 1.5rem;
  width: 80%;
  border-radius: 0.75rem;
}

h1 {
  background-color: #fcd34d;
  padding: 2rem;
  color: #064e3b;
  margin: none;
  margin-left: none;
  border-radius: 1rem;
}
